body{
    text-align: center;
}

div{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: inline-block;
}

.container{
    width: 690px;
    height: 200px;
    display: flex;

    /* It sete how flex items are placed in the flex container along which axis and direction.
    flexbox-direction: row(by defult), row-revers, column, column-reverse */
    
    /* flex-direction: row; 
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center; */

    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    
}

.box1{
    background-color: aqua;
}

.box2{
    background-color: pink;
}

.box3{
    background-color: goldenrod;
}

.box4{
    background-color: brown;
}

.box5{
    background-color:blue;
}